<view title="'About'">
    <header class="bar bar-header bar-positive">
        <h1 class="title">About</h1>
    </header>
    <content has-header="true" has-tabs="true" padding="true">
        <div class="card">
            <div class="item item-divider item-dark">
                About Liqbo
            </div>
            <div class="item item-text-wrap">
                <p>Liqbo is a hybrid mobile application built on top of the <a href="http://ionicframework.com/" target="_blank">Ionic HTML5 Framework</a>. It is developed and maintained by <a href="http://www.codebeard.io" target="_blank">Neil Fenton</a></p>

                <p>Liqbo is powered by the <a href="http://lcboapi.com/" target="_blank">LCBO API</a> developed by <a href="http://heycarsten.com/" target="_blank">Carsten Nielsen</a></p>

                <p>Liqbo is not affiliated with the <a href="http://lcbo.com/" target="_blank">LCBO</a></p>
            </div>
            <div class="item item-divider item-dark">
                Find Products
            </div>
            <div class="item item-text-wrap">
                <p>To search for products, use the search bar in the header. Enter your query and press submit to view details for up to 20 products.</p>
            </div>
            <div class="item item-divider item-dark">
                Tag a Product as Favourite
            </div>
            <div class="item item-text-wrap">
                <p>To add a product to your favourite list, navigate to the product details page, then click Favourite.</p>
                <p>To view your favourite products, navigate back to the drink search page and reveal the menu. Favourites will appear at the bottom of the Options menu.</p>
            </div>
            <div class="item item-divider item-dark">
                Find Local Stores
            </div>
            <div class="item item-text-wrap">
                <p>To search for stores near your current location, press the navigation button <i class="icon ion-ios7-navigate-outline"></i> to find local stores.</p>
            </div>
            <div class="item item-divider item-dark">
                Perform a Store Search
            </div>
            <div class="item item-text-wrap">
                <p>To search for a specific store using a query, press the menu button <i class="icon ion-navicon"></i> to reveal the search engine.</p>

                <p>When you save stores as favourites, you will find them here.</p>
            </div>
        </div>
    </content>
</view>
