<view title="'About'">
    <header class="bar bar-header bar-positive">
        <h1 class="title">About Liqbo</h1>
    </header>
    <content has-header="true" has-tabs="true" padding="true">
        <div class="card">
            <div class="item item-text-wrap">
                <p>Liqbo is a hybrid mobile application built on top of the <a href="http://ionicframework.com/" target="_blank">Ionic HTML5 Framework</a>. It is developed and maintained by <a href="http://www.codebeard.io" target="_blank">Neil Fenton.</a></p>

                <p>Liqbo is powered by the <a href="http://lcboapi.com/" target="_blank">LCBO API</a> developed by <a href="http://heycarsten.com/" target="_blank">Carsten Nielsen</a>.</p>

                <p>Liqbo is not affiliated with the <a href="http://lcbo.com/" target="_blank">LCBO</a></p>
            </div>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-click="toggleToolTips();" ng-model="$root.showToolTips" ng-true-value="true" ng-true-value="false">
                </label>
                Enable Tool Tips
            </li>
        </div>
    </content>
</view>
