<tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">

    <!-- Stores Tab -->
    <tab title="Stores" icon="icon ion-map" href="#/tab/stores">
        <nav-view name="stores-tab"></nav-view>
    </tab>

    <!-- Drinks Tab -->
    <tab title="Drinks" icon="icon ion-beer" href="#/tab/drinks">
        <nav-view name="drinks-tab"></nav-view>
    </tab>

    <!-- About Tab -->
    <tab title="About" icon="icon ion-help" href="#/tab/about">
        <nav-view name="about-tab"></nav-view>
    </tab>
</tabs>
