<side-menus>
    <pane side-menu-content>
        <header class="bar bar-header bar-positive">
            <button class="button button-icon" ng-click="toggleSlide()"><i class="icon ion-navicon"></i></button>
            <h1 class="title">Stores</h1>
        </header>
        <google-map center="map.center" zoom="map.zoom" draggable="true"></google-map>
    </pane>
    <side-menu side="left">
        <header class="bar bar-header bar-dark" fade-header>
            <h1 class="title">Filters</h1>
        </header>
        <content has-header="true">
        </content>
    </side-menu>
</side-menus>